
@section title{
        <h1>Home Page</h1>
}
<section class="text-default text-center">
    <div class="container">
        @*<p class="lead text-muted ">
            The error "Failed to load resource: the server responded with a status of 404 (Not Found)" typically occurs when the browser is unable to find a requested resource (like a CSS file, JavaScript file, image, etc.) on the server. This can happen for various reasons, including incorrect file paths, missing files, or misconfigured routes.
        </p>
        <p>
            <a href="#" class="btn btn-primary my-2">Search Book</a>
        </p>*@
    </div>
</section>

