@using DotnetCoreWithEF.Enums
@model BookModel;

<div class="d-flex justify-content-center">
    <div class="spinner-border" role="status" id="myLoader" style="display:none;">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<form method="post" enctype="multipart/form-data" data-ajax="true" data-ajax-complete="myComplete" data-ajax-success="mySuccess"
      data-ajax-failure="myFailure" data-ajax-loading="#myLoader" asp-controller="book" asp-action="addbook">
    @section title {
        <big class="text-primary">Add Book</big>
        <p big="">here you can add elements</p>
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>
    }
    @if (ViewBag.IsSuccess && ViewBag.Id>0)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Book</strong> has been inserted successfully.
            Click <a asp-action="BookDetails" asp-controller="book" asp-route-id="@ViewBag.Id">here</a> to view details
            <button type="button" class="close float-end" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }

    <div class="form-group  pb-3">
        <label asp-for="LanguageId" class="form-label col-md-2"></label>
        @* <select class="form-control col-md-5 dropdown" asp-for="Language">
            <option value="">Select language</option> 
            <option>Urdu</option>
            <option>English</option>
            <option>Sindhi</option>

        </select> *@

        @* <select class="form-control col-md-5" asp-for="Language"
                asp-items="@new SelectList(ViewBag.Lanuages)"></select> *@
        
         @* here is for single selection*@
        @* <select class="form-control col-md-5" asp-for="Language"
                asp-items="@ViewBag.Lanuages">
            <option value="">Choose Language</option>
            </select> *@
            

        @* here is for Multi selection*@
        @* <select class="form-control col-md-5" asp-for="MultiLanguages"
                asp-items="@ViewBag.Lanuages" multiple>
            <option value="">Choose Languages</option>
        </select> *@

        @*Dropdown by enum*@
        @* <select class="form-control col-md-5" asp-for="LanguageEnum"
                asp-items="Html.GetEnumSelectList<LanguagesEnum>()">
            <option value="">Choose Languages</option>
        </select> *@

       @*  <select class="form-control col-md-5" asp-for="LanguageId"
                asp-items="Html.GetEnumSelectList<LanguagesEnum>()">
            <option value="">Choose Languages</option>
        </select> *@

        <select class="form-control col-md-5" asp-for="LanguageId"
                asp-items="@ViewBag.Lanuages">
            <option value="">Choose Language</option>
        </select>

        <span class="col-md-4 text-danger" asp-validation-for="LanguageId"></span>
    </div>
    
    <div class="form-group  pb-3">
        <label asp-for="Titile" class="form-label col-md-2"></label>
        <input type="text" asp-for="Titile" class="form-control col-md-5" />
        <span class="col-md-4 text-danger" asp-validation-for="Titile"></span>
    </div>
    <div class="form-group pb-3">
        <label asp-for="Author" class="form-label col-md-2"></label>
        <input type="text" asp-for="Author" class="form-control col-md-5" />
        <span class="col-md-4 text-danger" asp-validation-for="Author"></span>
    </div>

    <div class="form-group pb-3">
        <label asp-for="Description" class="form-label col-md-2"></label>
        <textarea asp-for="Description" class="form-control col-md-5"></textarea>
        <span class="col-md-4 text-danger" asp-validation-for="Description"></span>
    </div>

    <div class="form-group pb-3">
        <label asp-for="TotalPages" class="form-label col-md-2"></label>
        <input type="number" asp-for="TotalPages" class="form-control col-md-5" />
        <span class="col-md-4 text-danger" asp-validation-for="TotalPages"></span>
    </div>

    <div class="form-group pb-3">
        <label asp-for="CoverPhoto" class="form-label col-md-2"></label>
        <div class="custom-file col-md-5">
            <input asp-for="CoverPhoto" class="custom-file-input" id="customFile" />
            @* <label for="customFile" class="custom-file-label">Choose File</label> *@
        </div>
       
        <span class="col-md-4 text-danger" asp-validation-for="CoverPhoto"></span>
    </div>

    <div class="form-group mb-3">
        <button type="submit" class="btn btn-primary">Save</button>
        <custom-email email="zainulabdin.uso@gmail.com" class="btn btn-primary"></custom-email>
    </div>
   
   
</form>
@section scripts {
    <script>
        // alert("hi zain");
        function myComplete(data){
        
            alert("Completed");
        }
        function mySuccess(data){
        
            alert("Success");
        }
        function myFailure(data){

            // alert("Failure");
        }
    </script>
}
