<footer class="border-top footer text-muted text-center mb-3">
    <div class="container">
        Copyright &copy; Book Store @DateTime.Now.Year
        <custom-email my-email="zainulabdin.uos@gmail.com"></custom-email>
    </div>

</footer>